{% extends 'base.html.twig' %}

{% block title %}Subvention{% endblock %}

{% block body %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Subvention</h1>
                <div class="card mb-4">
                    <div class="d-flex flex-row-reverse bd-highlight mb-2">
                        <div class="p-2 bd-highlight">
                            <a href="{{ path('subvention_index') }}">Back to list</a>
                        </div>
                        <div class="p-2 bd-highlight">
                            <a href="{{ path('subvention_edit', {'id': subvention.id}) }}">Edit</a>
                        </div>
                        <div class="p-2 bd-highlight">{{ include('subvention/_delete_form.html.twig') }}</div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Id</th>
                                    <td>{{ subvention.id }}</td>
                                </tr>
                                <tr>
                                    <th>Entreprise</th>
                                    <td>{{ subvention.entreprise }}</td>
                                </tr>
                                <tr>
                                    <th>EntrepriseAddress</th>
                                    <td>{{ subvention.entrepriseAddress }}</td>
                                </tr>
                                <tr>
                                    <th>EntrepriseEmail</th>
                                    <td>{{ subvention.entrepriseEmail }}</td>
                                </tr>
                                <tr>
                                    <th>EntreprisePhone1</th>
                                    <td>{{ subvention.entreprisePhone1 }}</td>
                                </tr>
                                <tr>
                                    <th>EntreprisePhone2</th>
                                    <td>{{ subvention.entreprisePhone2 }}</td>
                                </tr>
                                <tr>
                                    <th>Subject</th>
                                    <td>{{ subvention.subject }}</td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td>{{ subvention.description }}</td>
                                </tr>
                                <tr>
                                    <th>DepositeDate</th>
                                    <td>{{ subvention.depositeDate ? subvention.depositeDate|date('Y-m-d') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>CreatedAt</th>
                                    <td>{{ subvention.createdAt ? subvention.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>UpdatedAt</th>
                                    <td>{{ subvention.updatedAt ? subvention.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
{% endblock %}