<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Home</div>
                <a href="{{ path('admin') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                    </a>
                <div class="sb-sidenav-menu-heading">Interface</div>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"
                    aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-donate"></i></div>
                    Dons
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="{{ path('don_index')}}">Dons list</a>
                        <a class="nav-link" href="{{ path('don_new')}}">New don</a>
                        <a class="nav-link" href="{{ path('don_existing_donor')}}">New don for an existing donor</a>
                        <a class="nav-link" href="{{ path('donor_index')}}">Donors list</a>
                        <a class="nav-link" href="{{ path('donor_adherents')}}">adherents list</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                  aria-expanded="false" aria-controls="collapsePages">
                  <div class="sb-nav-link-icon"><i class="fas fa-hands-helping"></i></div>
                    Parrainages
                  <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth"
                          aria-expanded="false" aria-controls="pagesCollapseAuth">
                          Cases
                          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="{{ path('edit_case')}}">New case</a>
                                <a class="nav-link" href="{{ path('case')}}">Active Cases</a>
                                <a class="nav-link" href="{{ path('disabled_case')}}">Disabled Cases</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError"
                        aria-expanded="false" aria-controls="pagesCollapseError">Parrain
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                        <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="{{ path('sponsor')}}">sponsors list</a>
                            <a class="nav-link" href="{{ path('new_sponsor')}}">New sponsor</a>
                            </nav>
                        </div>
                    </nav>
                </div>

                <a class="nav-link" href="{{ path('project_index')}}">
                    <div class="sb-nav-link-icon"><i class="fas fa-atom"></i></div>
                    Projects
                </a>


                <a class="nav-link" href="{{ path('subvention_index')}}">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Dossiers de subventions
                </a>

                <a class="nav-link" href="{{ path('beneficiary_index')}}">
                    <div class="sb-nav-link-icon"><i class="fas fa-star"></i></div>
                    Les bénéficiaires
                </a>

                <a class="nav-link" href="{{ path('expenses_index')}}">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Expenses
                </a>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#administration"
                   aria-expanded="false" aria-controls="administration" id="administrationRoot">Administration
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="administration" aria-labelledby="headingOne" data-parent="#administrationRoot">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="{{ path('user_index')}}">Users</a>
                        <a class="nav-link" href="{{ path('user_new')}}">New user</a>
                    </nav>
                </div>

            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            {{ app.user.firstName ~ ' ' ~app.user.lastName }}
        </div>
    </nav>
</div>
