{% extends 'base.html.twig' %}
{% form_theme form 'form/custom_theme.html.twig' %}
{% block title %}New Sponsor{% endblock %}

{% block body %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Sponsor</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Sponsor/New</li>
            </ol>
            <div class="card mb-4">
                <div class="d-flex flex-row-reverse bd-highlight mb-2">
                    <div class="p-2 bd-highlight"><a href="#">statistics</a></div>
                    <div class="p-2 bd-highlight"><a href="#">Affect Case to sponsor</a></div>
                    <div class="p-2 bd-highlight"><a href="{{path('sponsor')}}">sponsors list</a></div>
                </div>
                <div class="card-header"><i class="fas fa-hand-holding-heart mr-1"></i>New Sponsor</div>
                <div class="card-body">



                {{ form_start(form) }}
                    <div class="my-custom-class-for-errors">
                        {{ form_errors(form) }}
                    </div>



                    <div class="form-row">
                      <div class="form-group col-md-6">
                         {{ form_row(form.firstName) }}
                      </div>
                      <div class="form-group col-md-6">
                        {{ form_row(form.lastName) }}
                      </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                           {{ form_row(form.email) }}
                        </div>
                        <div class="form-group col-md-6">
                          {{ form_row(form.mobile) }}
                        </div>

                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-4">
                        {{ form_row(form.address) }}
                      </div>
                      <div class="form-group col-md-2">

                      {{ form_row(form.zipCode) }}
                      </div>
                      <div class="form-group col-md-3">
                      {{ form_row(form.city) }}
                      </div>
                      <div class="form-group col-md-3">
                      {{ form_row(form.country) }}
                      </div>
                    </div>
                  {{ form_rest(form) }}
                {{ form_end(form) }}

                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
