{% extends 'base.html.twig' %}
{% form_theme form 'form/custom_theme.html.twig' %}
{% block title %}New case item{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" crossorigin="anonymous">
{% endblock %}

{% block body %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Cases</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item">Case</li>
                <li class="breadcrumb-item">item</li>
                <li class="breadcrumb-item active">New</li>
            </ol>
            <div class="card mb-4">
            <div class="d-flex flex-row-reverse bd-highlight mb-2">
              {% if case%}<div class="p-2 bd-highlight"><a href="{{path('show_case', {case: case.id})}}">Return to case</a></div>{% endif %}
              <div class="p-2 bd-highlight"><a href="{{path('case')}}">Cases list</a></div>
            </div>
                <div class="card-header"><i class="fas fa-briefcase mr-1"></i>New Case item</div>
                <div class="card-body">

                {{ form_start(form) }}
                    <div class="my-custom-class-for-errors">
                        {{ form_errors(form) }}
                    </div>

                    <div class="form-group col-md-3">
                      {{ form_row(form.folder) }}
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                         {{ form_row(form.firstName) }}
                      </div>
                      <div class="form-group col-md-6">
                        {{ form_row(form.lastName) }}
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-6">
                        {{ form_row(form.address) }}
                      </div>

                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        {{ form_row(form.birthdate) }}
                      </div>
                      </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                           {{ form_row(form.handicapped) }}
                        </div>
                        <div class="form-group col-md-3">
                          {{ form_row(form.unhealthy) }}
                        </div>
                        <div class="form-group col-md-3">
                           {{ form_row(form.orphan) }}
                        </div>
                        <div class="form-group col-md-3">
                          {{ form_row(form.schoolboy) }}
                        </div>

                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-8">
                        {{ form_row(form.description) }}
                      </div>

                    </div>

{{ form_widget(form.save, { 'label': action }) }}
                  {{ form_rest(form) }}
                {{ form_end(form) }}

                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}

  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" crossorigin="anonymous" >
  </script>

  <script src="{{ asset('js/date.js') }}"></script>
{% endblock %}
