{% extends 'base.html.twig' %}

{% block title %}Liste des dons{% endblock %}

{% block body %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Dons</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Donors</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table mr-1"></i>Donors list</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Full name</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>Amount</th>
                                    <th>Dons number</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Full name</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>Amount</th>
                                    <th>Dons number</th>
                                </tr>
                            </tfoot>
                            <tbody>
                            {% for donor in donors %}
                                {% set donor_item = donor[0] %}
                                    <tr>
                                        <td>{{ (donor_item.firstName ~ ' ' ~ donor_item.lastName)|e }}</td>
                                        <td>{{ donor_item.email|e }}</td>
                                        <td>{{ (donor_item.address ~ ' ' ~ donor_item.zipCode ~ ' ' ~ donor_item.city ~ ' ' ~ donor_item.country)|e }}</td>
                                        <td>{{ donor.total_sum ~ ' €' }}</td>
                                        <td>{{ donor.count_don }}</td>

                                    </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>
{% endblock %}
