{% extends 'base.html.twig' %}

{% form_theme form 'form/custom_theme.html.twig' %}
{% block title %}New don for an existing donor{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" crossorigin="anonymous">
{% endblock %}
{% block body %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Dons</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Dons/New</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table mr-1"></i>Create a don for an existing donor</div>
                <div class="card-body">

                {{ form_start(form) }}
                    <div class="my-custom-class-for-errors">
                        {{ form_errors(form) }}
                    </div>
                    <div class="form-row">
                    <div class="form-group col-md-6">
                      {{ form_row(form.donor) }}
                    </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-6">
                         {{ form_row(form.amount) }}
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        {{ form_row(form.date) }}
                      </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                           {{ form_row(form.type) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          {{ form_row(form.Project) }}
                        </div>
                    </div>

                    <div class="form-row">

                      <div class="form-group col-md-4">

                      {{ form_row(form.reciepe) }}
                      </div>

                    </div>


                  {{ form_rest(form) }}
                {{ form_end(form) }}
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" crossorigin="anonymous" ></script>

  <script src="{{ asset('js/date.js') }}"></script>
{% endblock %}
