{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}

    <div id="layoutSidenav_content">
        <main>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="container-fluid">
                <h1 class="mt-4">Les projets</h1>
                <div class="card mb-4">
                    <div class="d-flex flex-row-reverse bd-highlight mb-2">
                        <div class="p-2 bd-highlight"><a href="{{ path('project_new') }}">Create new</a></div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>StartDate</th>
                                    <th>EndDate</th>
                                    <th>CreatedAt</th>
                                    <th>UpdatedAt</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for project in projects %}
                                    <tr>
                                        <td>{{ project.id }}</td>
                                        <td>{{ project.name }}</td>
                                        <td>{{ project.startDate ? project.startDate|date('Y-m-d') : '' }}</td>
                                        <td>{{ project.endDate ? project.endDate|date('Y-m-d') : '' }}</td>
                                        <td>{{ project.createdAt ? project.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                        <td>{{ project.updatedAt ? project.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                        <td>
                                            <a href="{{ path('project_show', {'id': project.id}) }}">show</a>
                                            <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="7">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}